USE [master]
GO
/****** Object:  Database [HR_Analytics]    Script Date: 12-01-2026 18:25:52 ******/
CREATE DATABASE [HR_Analytics]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HR_Analytics', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HR_Analytics.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HR_Analytics_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HR_Analytics_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HR_Analytics].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HR_Analytics]
GO
/****** Object:  Table [dbo].[dim_employee]    Script Date: 12-01-2026 18:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_employee](
	[employee number] [bigint] NULL,
	[age] [bigint] NULL,
	[gender] [varchar](max) NULL,
	[department] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_hr]    Script Date: 12-01-2026 18:25:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_hr](
	[employee number] [bigint] NULL,
	[monthly income] [bigint] NULL,
	[job satisfaction] [bigint] NULL,
	[attrition_flag] [bigint] NULL,
	[loyalty_score] [bigint] NULL,
	[performance rating] [bigint] NULL
) ON [PRIMARY]
GO
USE [master]
GO
